<h3>Lista de Eventos</h3>
<button (click)="navigateToTicketCreate()">Criar/Comprar Novo Ticket</button>&nbsp;
<button (click)="navigateToCreateEvent()">Criar Novo Evento</button>&nbsp;
<button (click)="navigateToCreateUser()">Criar Novo Usuário</button>&nbsp;
<button (click)="navigateToLogin()">Sair</button>
<br>
<table>
  &nbsp;
  <tr>
    <th>Id</th>
    <th>Título</th>
    <th>Descrição</th>
    <th>Data</th>
    <th></th>
  </tr>
  <tr *ngFor="let e of events">
    <td>{{ e.id }}</td>
    <td>{{ e.title }}</td>
    <td>{{ e.description }}</td>
    <td>{{ e.date }}</td>
  </tr>
</table>
